
.nav {
  padding: 20px;
  letter-spacing: normal;
  border-bottom: 1px solid var(--dark-border);
  background-color: var(--dark);
  color: var(--text);
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: var(--text);
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-list__link {
  color: var(--text);
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--accent);
}

.strong {
  color: var(--accent);
}

